.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #021424;
  }
  .formContainer {
    width: 30%;
    margin: 0 auto 0 auto;
    padding: 32px;
    background: transparent;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  .roomContainer{
    /* position: relative; */
    width: 30%;
    background: #30415D;
    border-radius: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid rgb(63, 73, 204);
    font-size: 0.9rem;
    background: #021424;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    text-align: center;
    color: #BB6365;
    
  }
  h1{
    color: #8EAE8D;
    margin: 0 auto 0 auto;
    text-align: center;
  }

  .autoLayout{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom:32px;
    padding-top:32px;
    gap: 20px;
    width: 100%;
   

  }